.footer {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.copyWrapper {
  color: var(--gray);
  font-size: 12px;

  span {
    display: inline-block;
  }
}

.linkWrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 20px;

  a {
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}
