.wrapper {
  position: absolute;
  z-index: inherit;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 115px auto 60px;

  width: 100%;
  min-height: 100vh;
}

.headerWrapper > *,
.mainWrapper,
.footerWrapper > * {
  width: var(--container);

  // width: 100% !important;
  margin: 0 auto;
  padding: 0 15px;
}

.headerWrapper {
  background: var(--primary-dark);
}

.footerWrapper {
  background: var(--black);
}

.navbarWrapper {
  position: sticky;
  z-index: 10;
  top: -1px;
  background: var(--primary);
}

.mainWrapper {
  display: grid;
  grid-template-areas:
    "sliderWrapper sliderWrapper"
    "mainContentWrapper sidebarWrapper";

  // grid-template-columns: auto 300px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 0 15px;
  align-content: start;

  padding: 15px;

  background: var(--white-dark);
}

.sliderWrapper {
  grid-area: sliderWrapper;
  background: red;
}

.mainContentWrapper {
  grid-area: mainContentWrapper;
}

.sidebarWrapper {
  grid-area: sidebarWrapper;
}
