.wrapper {
  position: absolute;

  width: 100%;
  min-height: 100vh;
  display: grid;

  grid-template-rows: 115px auto 60px;
  grid-template-columns: auto;
}

.headerWrapper > *,
.mainWrapper,
.footerWrapper > * {
  width: var(--container);
  // width: 100% !important;
  margin: 0 auto;
  padding: 0 15px;
}

.headerWrapper {
  // background: var(--primary-dark);
}

.footerWrapper {
  background: var(--black);
}

.navbarWrapper {
  background: var(--primary);
  position: sticky;
  z-index: 10;
  top: -1px;
}

.mainWrapper {
  background: var(--white-dark);
  padding: 15px;

  display: grid;
  align-content: start;
  // grid-template-columns: auto 300px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'sliderWrapper sliderWrapper'
    'mainContentWrapper sidebarWrapper';
  gap: 0 15px;
}

.sliderWrapper {
  background: red;
  grid-area: sliderWrapper;
}

.mainContentWrapper {
  grid-area: mainContentWrapper;
}

.sidebarWrapper {
  grid-area: sidebarWrapper;
}
