.navbar {
  display: grid;
  grid-template-areas: ". . . . . . .";
  gap: 0 20px;
  justify-content: start;
}

.subMenu {
  position: relative;

  ul {
    position: absolute;
    padding: 10px 5px;

    // display: none;
    list-style: none;
    background: var(--black-light);
  }

  &:hover {
    ul {
      display: block;
    }
  }
}

.navbar a {
  position: relative;
}

.navbar a,
.navbar span {
  color: var(--white-dark);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover::after,
.active::after {
  content: "";

  position: absolute;
  z-index: 10;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fff136;

  // opacity: 0;
  transition: 0.3s;
}
